.menu(data-menu-block style="")
	.menu__text-wrap 
		ul.menu__outer-links
				each bigPoint in headMenu
					li
						a.menu__outer-link(href=bigPoint.item[1]) #{bigPoint.item[0]}
						ul.menu__inner-links(data-has-child-class="has-child")
							each smallPoint,index in bigPoint.childs
								if smallPoint[2]
									li 
										a.menu__inner-link.link--elara(href=smallPoint[1] data-blur=index data-image=smallPoint[2])
											span #{smallPoint[0]}
								else 
									li 
										a.menu__inner-link.link--elara(href=smallPoint[1] data-blur=index data-image="./assets/images/menu/points/default.jpg")
											span #{smallPoint[0]}
	.menu__img-wrap
		.menu__img-wrap-for-animation
			+img('menu/points/default.jpg').js-menu-img
	.menu__decor0
	.menu__decor1
	.menu__decor2
	.menu__decor3
	.menu__decor4
	.menu__decor5
	.menu__decor6
